@import "~bootstrap/scss/bootstrap.scss";

.work {
  color: black;
}

.holiday {
  color: red;
}

.work_reduced {
  color: rosybrown;
}

.holiday {
  color: red;
}

@media (min-width: 768px){
  .seven-cols .col-1  {
    width: 100%;
    *width: 100%;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}

/**
 *  The following is not really needed in this case
 *  Only to demonstrate the usage of @media for large screens
 */
@media (min-width: 1200px) {
  .seven-cols .col-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}