@import "~bootstrap/scss/bootstrap.scss";


span.clickable {
  cursor: pointer;
}

.calendar {

  tr.dayOfWeek td {
    background-color: #ccc;
  }

  td {
    width: 14.28571428571429%;
    text-align: center;
    border: 1px solid gray;
    background-color: #eee;
  }

  td.month {
    background-color: #aaa;
    font-weight: bold;

    span {
      font-size: smaller;
      font-weight: normal;
    }
  }

  td.work {
    color: black;
  }

  td.holiday {
    font-weight: bold;
    color: red;
  }

  td.work_reduced {
    color: brown;
  }

  td.inactive {
    color: darkgray;
  }
}